:root {
  --main-title-color: #ffffff;
  --second-title-color: #45525B;
  --third-tittle-color: #2877BA;
  --first-text-color: #ffffff;
  --second-text-color: #333333;
  --third-text-color: #6F7278;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #F19817;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #464646;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--first-text-color);
}

p {
  color: var(--first-text-color);
}

h1 {
  color: var(--main-title-color);
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.nav__item {
  display: flex;
  gap: 27px;
}

.nav__list {
  font-size: 14px;
  text-transform: uppercase;
}

.btn {
  width: 123px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--first-text-color);
  border: none;
  border-radius: 55px;
  font-size: 16px;
  font-weight: 500;
}

.call {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.call__text {
  font-size: 18px;
  font-weight: 600;
}

.call__svg {
  width: 10px;
  height: 10px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 179px;
}
.form div:first-child {
  margin-right: 10px;
}
.form div:nth-child(2) {
  margin-right: 34px;
}

.form__input {
  width: 344px;
  height: 54px;
  padding: 15px 20px;
  color: var(--first-text-color);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  border: 1px solid white;
  border-radius: 42px;
  outline: none;
}

.form__input::placeholder {
  color: var(--first-text-color);
}

.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}

.preTitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--third-tittle-color);
  margin-bottom: 15px;
}

.slider__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  min-width: 0;
}

.modern-paddig-slider {
  padding: 0 95px;
}

.slider__item {
  width: 300px;
  height: 422px;
  background-color: white;
  border-radius: 20px;
}

.slider__img {
  border-radius: 20px;
}

.slider__content-box {
  padding: 20px 21px 25px 20px;
  text-align: left;
  width: 300px;
}

.slider__preTitle {
  color: var(--third-text-color);
  font-size: 12px;
  margin-bottom: 6px;
}

.slider__title {
  color: var(--second-title-color);
  font-size: 20px;
  margin-bottom: 42px;
}

.slider__price-box {
  display: flex;
  justify-content: space-between;
}

.slider__text {
  color: #0d1b39;
  font-size: 13px;
}

.slider__price {
  color: #45525b;
  font-size: 22px;
  font-weight: 600;
}

.slider__currency {
  color: #45525b;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  padding-top: 8px;
}

.slider__price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.slider__btn {
  width: 49px;
  height: 49px;
  padding: 12px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}
.slider__btn svg {
  fill: white;
}

.slider__btn:hover svg {
  fill: var(--third-tittle-color);
}

.slick-track {
  display: flex;
  gap: 30px;
}

.slick-list {
  overflow: hidden;
}

.slider__item.slick-slide {
  width: 300px;
}

.slider .slick-arrow {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -30px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.slider .slick-arrow.slick-prev {
  left: 60px;
  transform: translateY(-50%) translateX(-100%);
  background: url(../images/arrow-left.svg) center/60% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../images/arrow-right.svg) center/60% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider__item.slick-slide {
  width: 300px;
}

.work__box .slick-arrow {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  top: -80px;
  right: 0;
}

.work__box .slick-arrow.slick-prev {
  right: 40px;
  transform: translateY(-50%) translateX(-100%);
  background: url("../../images/arrow-left.svg") center/60% no-repeat;
}

.work__box .slick-arrow.slick-next {
  background: url("../../images/arrow-right.svg") center/60% no-repeat;
}

.work__box .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 152px;
}

.header__call {
  display: flex;
  gap: 25px;
}

.hero {
  padding-top: 15px;
  text-align: center;
  background-image: url(../images/hero-bg.jpg);
  height: 941px;
}

.hero__title {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.hero__text {
  font-size: 18px;
  line-height: 174%;
  margin-bottom: 82px;
}

.hero__btn {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
}
.hero__btn svg {
  fill: white;
}

.hero__btn:hover {
  background-color: white;
  border-color: var(--accent-color);
}
.hero__btn:hover svg {
  fill: black;
}

.about {
  padding: 100px 376px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  gap: 101px;
}

.about__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 53px;
}

.about__wrap {
  width: 561px;
}

.about__text {
  color: var(--second-text-color);
  line-height: 22px;
  margin-bottom: 25px;
}

.about__text-end {
  color: var(--second-text-color);
  line-height: 22px;
  margin-bottom: 65px;
}

.about__comit {
  display: flex;
  gap: 15px;
  align-items: center;
}

.comit__wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comit__title {
  color: var(--second-title-color);
  font-size: 16px;
}

.comit__text {
  color: var(--third-text-color);
  text-transform: uppercase;
  font-size: 12px;
}

.materials {
  background-color: white;
  padding: 150px 220px;
  background-image: url(../images/materials-bg.jpg);
}

.materials__box {
  text-align: center;
}

.materials__title {
  color: var(--second-title-color);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.materials__list {
  width: 561px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 6px;
  margin: 0 auto;
  border-radius: 44px;
  cursor: pointer;
  margin-bottom: 66px;
}

.materials__item {
  font-size: 18px;
  padding: 4px 24px;
}

.materials__item:hover {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 32px;
}

.active {
  background-color: white;
  border-radius: 32px;
}

.work__box {
  position: relative;
  background-color: #FAFAFC;
  padding: 130px 315px;
}

.work__title {
  font-size: 48px;
  font-weight: 500;
  color: var(--second-title-color);
  margin-bottom: 60px;
}

.statistics {
  position: relative;
  background-color: white;
  padding: 150px 554px 150px 425px;
  text-align: center;
  overflow: hidden;
}

.statistics__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}

.statistics__text {
  font-size: 18px;
  color: var(--third-text-color);
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
}

.statistics__box {
  display: flex;
}

.statistics__img {
  border-radius: 30px;
  margin-right: 90px;
}

.statistics__content-box {
  padding-top: 31.5px;
  padding-bottom: 31.5px;
}

.statistics__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statistics__item {
  width: 300px;
  padding: 23px 0 23px 23px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
  z-index: 10;
}

.statistics__number {
  color: var(--third-tittle-color);
  text-align: start;
  font-size: 30px;
  font-weight: 600;
}

.statistics__content-title {
  color: var(--second-title-color);
  text-align: start;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.statistics__content-text {
  color: var(--third-text-color);
  text-align: start;
  font-size: 14px;
}

.statistics__content-active {
  background-color: #fafafc;
}

.statistics__img-bg {
  position: absolute;
  left: 0;
  top: -100px;
  display: inline-block;
}

.statistics__img-bg2 {
  position: absolute;
  bottom: -90px;
  right: 0;
  display: inline-block;
}

.gallery {
  background-color: #fafafc;
  text-align: center;
  padding: 130px 315px;
}

.gallery .preTitle {
  text-align: start;
}

.gallery__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: start;
}

.gallery__list {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.gallery__row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery__img {
  border-radius: 15px;
}

.gallery_btn {
  width: 207px;
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #52503B;
}

.testimonials {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 315px;
  background-color: white;
  overflow: hidden;
}

.testimonials__box {
  position: relative;
}

.testimonials__title {
  font-size: 48px;
  font-weight: 500;
  color: var(--second-title-color);
  margin-bottom: 60px;
}

.testimonials__list {
  display: flex;
  gap: 30px;
  min-width: 0;
}

.testimonials__item {
  width: 584px;
  height: 297px;
  padding: 30px;
}

.testimonials__star-box {
  margin-bottom: 10px;
}

.testimonials__item-title {
  font-size: 24px;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.testimonials__text {
  font-size: 15px;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.testimonials__avtor {
  color: var(--second-title-color);
  font-size: 16px;
  border-left: 1px solid var(--accent-color);
  padding-left: 10px;
}

.testimonials__img {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials__list.slick-list {
  overflow: visible;
}

.testimonials__item.slick-slide.slick-active {
  min-width: 580px;
}

.testimonials__box .slick-arrow {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  top: 40px;
  right: 0px;
}

.testimonials__box .slick-arrow.slick-prev {
  right: 390px;
  transform: translateY(-50%) translateX(-100%);
  background: url("/images/arrow-left.svg") center/60% no-repeat;
}

.testimonials__box .slick-arrow.slick-next {
  right: 350px;
  background: url("/images/arrow-right.svg") center/60% no-repeat;
}

.testimonials__box .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.information {
  padding: 110px 425px;
  background-color: #45525b;
  display: flex;
  justify-content: space-between;
}

.information__box {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-right: 156px;
}

.information__adress-title {
  color: var(--first-text-color);
  text-transform: uppercase;
  opacity: 0.3;
  margin-bottom: 10px;
}

.information__adress-text {
  color: var(--first-text-color);
  line-height: 33px;
}

.information__title {
  color: var(--first-text-color);
  text-transform: uppercase;
  opacity: 0.3;
  margin-bottom: 10px;
}

.information__mail {
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.information__form-box {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.information__input {
  width: 305px;
  padding: 19px 30px;
  border-radius: 40px;
  border: none;
  outline: none;
}

.information__area {
  width: 100%;
  height: 128px;
  padding: 18px 30px;
  border-radius: 40px;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 25px;
}

.footer {
  background-color: #292C32;
  padding: 110px 315px 62px 315px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer__logo-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__logo-text {
  width: 330px;
  font-size: 15px;
  opacity: 0.8;
}

.footer__container {
  display: flex;
  gap: 89px;
}
.footer__container ul:first-child {
  margin-right: 129px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__title-list {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer__link {
  font-size: 15px;
  opacity: 0.8;
  display: flex;
  gap: 8px;
}

.copyright__box {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.copyright__wrap {
  display: flex;
  gap: 27px;
}/*# sourceMappingURL=main.css.map */