.footer {
  background-color: #292c32;

  padding: 110px 315px 62px 315px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}

.footer__logo-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__logo-text {
  width: 330px;

  font-size: 15px;
  opacity: 0.8;
}

.footer__container {
  display: flex;
  gap: 89px;

  ul:first-child {
    margin-right: 129px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__title-list {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 600;

  text-transform: uppercase;

  margin-bottom: 22px;
}

.footer__link {
  font-size: 15px;
  opacity: 0.8;

  display: flex;
  gap: 8px;
  align-items: center;
}

.footer__link:hover{
  opacity: 1;
}

.copyright__box {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.copyright__wrap {
  display: flex;
  gap: 27px;
}
