.statistics {
  position: relative;
  background-color: white;
  padding: 150px 554px 150px 425px;

  text-align: center;

    overflow: hidden;
}

.statistics__title {
  font-size: 48px;
  font-weight: 500;

  margin-bottom: 30px;
}

.statistics__text {
  font-size: 18px;
  color: var(--third-text-color);
  margin-bottom: 60px;
}

.statistics__box {
  display: flex;
}

.statistics__img {
  border-radius: 30px;

  margin-right: 90px;
}

.statistics__content-box {
  padding-top: 31.5px;
  padding-bottom: 31.5px;
}

.statistics__list {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.statistics__item {
  width: 300px;

  padding: 23px 0 23px 23px;

  display: flex;
  flex-direction: column;
  gap: 19px;
}

.statistics__number {
  color: var(--third-tittle-color);

  text-align: start;
  font-size: 30px;
  font-weight: 600;
}

.statistics__content-title {
  color: var(--second-title-color);

  text-align: start;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 5px;
}

.statistics__content-text {
  color: var(--third-text-color);

  text-align: start;
  font-size: 14px;
}

.statistics__content-active {
  background-color: #fafafc;
}

.statistics__img-bg{
  position: absolute;
  left: 0;
  top: -100px;
}

.statistics__img-bg2{
  position: absolute;
  bottom: -90px;
  right: 0;
}