.work__box{
    position: relative;
    background-color: white;

    padding: 130px 315px;
}

.work__title{
    font-size: 48px;
    font-weight: 500;

    color: var(--second-title-color);

    margin-bottom: 60px;
}