.nav {
  padding: 10px;

  margin-bottom: 30px;
  @media screen and (min-width: 1920px) {
    padding: 0;
    margin: 0;
    margin-right: 365px;
  }
}

.nav__item {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1920px) {
    justify-content: center;
    gap: 27px;
  }
}

.nav__item .nav__list:hover{
  color: var(--accent-color);
}

.nav__list {
  font-size: 14px;
  text-transform: uppercase;
}
