:root {
  --main-title-color: #ffffff;
  --second-title-color: #45525b;
  --third-tittle-color: #2877ba;
  --first-text-color: #ffffff;
  --second-text-color: #333333;
  --third-text-color: #6f7278;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #f19817;
}
